/* Body page configuration */
body {
    box-sizing: border-box;
    font-family: Raleway, serif;
    max-width: 1440px;

}

/* Animations configuration for articles */
article {
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: transform 0.1s linear;
}

article:hover {
    transform: scale(1.02) rotate(0.1deg);
}

/*Imgs configuration*/
img {
    width: 100%;
}
/* Header configuration */
.header {
    align-items: center;
    color: #F2F2F2;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
    padding: 30px;
}
/* Logo Size configuration */
.header img {
    width: 80px;
}
/* Navigation links for desktop version */
.header-navigation-links {
    color: grey;
    display: none;
    text-decoration: none;
}
.header-navigation-links:hover {
    color: #0065FC;
}
/* Navigation links for mobile version */

.header-navigation-links-mobile {
    display: flex;
    justify-content: space-around;
    padding: 10px 48px;
    text-decoration: none;
}
.header-navigation-links-mobile [data-active=true] {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
    text-decoration: none;
}
.header-navigation-links-mobile [data-active=false] {
    color: grey;
    border-bottom: 2px solid grey;
}
.header-signup {
    color: #0065FC;
    display: inline;
    text-decoration: none;
}
.header-signup:hover {
    text-decoration: underline;
}
/* Title & Subtitle */

.title h1 {
    font-size: 20px;
    margin: 10px;
}

.title h3 {
    font-size: 15px;
    margin: 10px;
}
/* Search bar configuration */

.searchbar {
    border-radius: 20px;
    border: 2px solid whitesmoke;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 30px 5px;
    max-width: 400px;
    min-width: 305px;
}

.searchbar input {
    border: none;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
}

.fa-map-marker-alt {
    background-color: whitesmoke;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: black;
    font-size: 20px;
    padding: 15px;
}
.searchbar-text {
    display: none;
}

.fa-search {
    background-color: #0065FC;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 15px;
    text-align: center;
}
.fa-search:hover {
    background-color: #DEEBFF;
}

/* Filters configuration */

.filters {
    margin: 10px;
}

.filters-buttons {
    display: flex;
    flex-wrap: wrap;
}
.btn span {
    margin-left: 10px;
    margin: 10px
}
.btn:hover span{
    text-decoration: #0065FC;
}

.btn i {
    background-color: #DEEBFF;
    border-radius: 100%;
    border: 1px solid #DEEBFF;
    color: #0065FC;
    font-size: 20px;
    margin: -2px;
    padding: 12px;
}
.btn {
    align-items: center;
    border-radius: 50px;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 40px;
    margin-bottom: 9px;
    margin-left: 9px;
}

.btn:hover {
    background-color: #0065FC;
    color: white
}

.description-filters {
    margin: 25px 5px;
}

.description-filters i {
    color: #0065FC;
    margin: 10px;
}

/* Section most popular */

.most-popular {
    background-color: #F2F2F2;
    padding: 5px;
    width: auto;
}

.title-popular-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 18px;
}

/* Cards most popular */

.most-popular .card {
    background-color: white;
    border-radius: 25px;
    display: flex;
    filter: drop-shadow(0 0 4px #ccc);
    height: 120px;
    margin: 15px;
    width:auto;
}

.most-popular .imgCard {
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid white;
    height: 113px;
    object-fit: cover;
    width: 128px;
}

.most-popular .contentCard h4 {
    margin-left: 8px;
    margin-bottom: 5px;
}
.most-popular h3 {
    margin: 35px 5px 43px

}

.most-popular .contentCard span {
    font-size: 14px;
    margin-left: 8px;
}
.most-popular .ratting-stars {
    margin-left: 10px;
}
.most-popular .fa-star {
    color: #0065FC;
    font-size: 13px;
    margin-top: 8px;
}
.fa-star unchecked {
    color: grey;
}


/*Cards section one */

.section-one {
    margin: auto;
}
.section-one h3,
.section-one h5 {
    font-weight: bold;
    margin: 35px 20px;
    }


.section-one .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0 0 4px #ccc);
    height: 180px;
    margin: 15px;
}

.section-one .card-img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    object-fit: cover;
    padding: 5px;
    width: 97%;
}

.section-one h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
    margin: 10px;
}

.section-one span {
    font-size: 13px;
    margin: 10px;
    text-align: left;
}

.section-one .ratting-stars {
    color: #0065FC;
    font-size: 9px;
    margin-left: 10px;
    margin-top: 5px;
}

/* \/ Configure ratting stars here \/ */


/* Cards Section Two */

.section-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 180px 180px 180px 180px 180px 30px;
    margin: 0px;
    row-gap: 30px;
}
.section-two h4 {
    margin: 0;
}

.section-two-title {
    margin: 15px;
}

.section-two .card1,
.section-two .card2,
.section-two .card3,
.section-two .card4,
.section-two .card5,
.section-two .card6 {
    margin: 15px;
    filter: drop-shadow(0 0 4px #ccc);
}

.section-two .card-img img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.section-two .content-card {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
}
/*Section footer*/

footer {
    background-color: #F2F2F2;
    padding: 20px;
    list-style:none;
}
footer ul {
    margin:10px 0px;
    padding:0;
    font-weight: bold;
}
footer li {
    padding: 4px;
    font-weight: lighter;
}
footer a {
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 768px) {
    /*  Changes for header section  */
    .body {
        margin: auto
    }
    .header {
        padding: 14px
    }
    .header img {
        width: 90px;
    }
    .header-navigation-links,
    .header-signup {
        display: inline;
        padding: 25px 10px 0px;
    }
    .header-navigation-links[data-active=true]{
        color: #0065FC;
        border-top: 2px solid #0065FC;
    }
    .header-navigation-links-mobile {
        display:none
    }
    /* Changes for filters */
    .filters-buttons {
        display: flex;
        flex-wrap: nowrap;
        height: 60px
    }
    /* Changes for most-popular */
    .title-popular-section {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0px 18px;
    }
    .most-popular {
        border-radius: 15px;
    }
    .most-popular .card {
        width: auto;
    }
    .most-popular .imgCard {
        height: 110px;
    }
    .most-popular h4 {
        font-size: 12px;
        margin-right: 8px;
    }
    .most-popular .contentCard span {
        font-size: 11px
    }
    /* changes for sectionOne */
    .section-one {
        margin: 0;
    }
    .section-one nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section-one .card {
        width: 350px;
    }
    /*changes for section-two */
    .section-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px 150px 150px 50px;
        row-gap: 40px;

    }
    .section-two .card1,
    .section-two .card2,
    .section-two .card3,
    .section-two .card4,
    .section-two .card5,
    .section-two .card6 {
        height: auto;
        width: auto;
        background-color: white;
    }
    footer {
        display: flex;
        justify-content: space-around;
        list-style:none;
        padding: 20px;
        text-align: left ;
    }
    ul {
        font-weight: bolder;
        margin:10px 0px;
        padding:0;
    }
    li {
        padding: 4px
    }
}

@media screen and (min-width: 992px) {
    body {
        max-width: 1240px;
        margin: auto
    }
    .header img {
        width: 100px
    }
    .header-navigation-links,
    .header-signup {
        padding: 30px;
    }
    .fa-search {
        display: none;
    }
    .searchbar-text {
        display: inline;
    }
        /* Section hébergements (populaire et hébergements inclus)*/
    .hosting {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    /* Les plus populaires */
    .most-popular {
        min-width: 22%;
        display: flex;
        flex-direction: column;
    }
    .most-popular .card {
        background-color: white;
        border-radius: 25px;
        display: flex;
        filter: drop-shadow(0 0 4px grey);
        height: 120px;
        margin: 5px;
    }
    .most-popular .imgCard {
        height: 112px;
        width: 100px;
    }
    .most-popular h4 {
        font-size: 14px;
        margin: 10px;
    }
    /* Hébergements à Marseille*/
    .section-one {
        background: #F2F2F2;
        border-radius: 15px;
        margin-right: 20px;
        padding: 2px
    }
    .section-one-cards {
        align-items: center;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }
    .section-one-cards .card {
        margin: 20px 10px;
        width: 270px;
    }
    .section-one h5:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    /* Activités à Marseille*/

    .section-two {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
        margin-bottom: 50px;
        row-gap: 10px;
    }

    .card1 {
        grid-column: 1/2;
        grid-row: 2/7;
    }
    .card2 {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .card3 {
        grid-column: 3/4;
        grid-row: 2/7;
    }
    .card4 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .card5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .card6 {
        grid-column: 4/5;
        grid-row: 4/7;
    }
}
